<nav class="navbar">
  <div class="navbar-logo">
    <a href="">PHƯỚCEM</a>
  </div>

  <ul class="navbar-menu">
    <li> <a href="">Home</a></li>
    <li><a href="">Shop</a></li>
    <li><a href="">New Arrivals</a></li>
    <li><a href="">Sale</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="/product">Product</a></li>
    <li><a href="/cart">Cart</a></li>
  </ul>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search for products..." />
    <button type="submit"><i class="fas fa-search"></i> FIND</button>
  </div>

  <div class="navbar-icons">
    <!-- Account Balance -->
    <span class="balance">Balance: $100</span>
    <!-- My Account -->
    <div class="account-info">
      <img  (click)="activateRightPanel()" src="assets/img/accout.png">
    </div>
    <!-- Cart Icon -->
    <a href="#"><i class="fas fa-shopping-cart"></i></a>
  </div>
</nav>
