* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D59CE2;
  color: black;
  padding: 15px 30px;

}

.navbar-logo a {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Georgia', serif;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  order: 2; /* Đặt thứ tự cho menu */
  justify-content: center;
  align-items: center;
  li a{
    cursor: pointer;
  }
  li a:hover{
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
}
.navbar-menu a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}



.search-bar {
  display: flex;
  align-items: center;
  order: 3; /* Đặt thứ tự cho search bar */
  max-width: 400px;
  border: #ff3366 1px solid;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  padding: 8px 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 100%;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #ff3366;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e62e55;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  order: 4; /* Đặt thứ tự cho icons */
}

.balance {
  color: black;
  font-size: 0.9rem;
}

.account-info {
  cursor: pointer;
  display: flex;
  align-items: center;
  img{
    width: 50%;
    height: 100%;
  }
}

.account-info a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.account-info a:hover {
  color: #ff3366;
}

.navbar-icons a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-icons a:hover {
  color: #ff3366;
}
