<app-navbar></app-navbar>
<div class="container">
  <div class="cart-container">
    <div class="farm">
      <div class="cart-row">
        <img src="assets/product/ao.png" alt="ao">
        <div class="information">
          <div class="product-name">
            <h3>Áo thun nam</h3>
          </div>
          <div class="product-price">
            <h3>Giá: 100.000đ</h3>
          </div>
          <div class="product-quantity">
            <input type="number" value="1">
          </div>
          <div class="product-total">
            <h3>100.000đ</h3>
          </div>
        </div>
        <div class="product-remove">
          <button>Xóa</button>
        </div>
      </div>
    </div>

    <div class="price-summary">
      <div class="price-details">
        <span>Sản phẩm</span>
        <span>100.000đ</span>
      </div>
      <div class="price-details">
        <span>Phí vận chuyển</span>
        <span>20.000đ</span>
      </div>
      <div class="price-details">
        <span>Phí vận chuyển</span>
        <span>20.000đ</span>
      </div>
      <div class="price-details">
        <span>Phí vận chuyển</span>
        <span>20.000đ</span>
      </div>
      <div class="total-price">
        <h3>Tổng tiền: 120.000đ</h3>
      </div>
    </div>
  </div>
</div>
